<div class="todo">
  <h1>Mis tareas</h1>
  <div class="add">
    <label for="addTask">Agregar una tarea</label>
    <input #newItem id="addTask" placeholder="Agregar una tarea"/>
    <button (click)="todoService.add(newItem.value);newItem.value = ''">Add</button>
  </div>
  <div>
    <div class="task" *ngFor="let task of todoService.tasks">
      <input type="checkbox" id="{{task.title}}" (click)="todoService.delete(task)">
      {{task.title}}
      <span class="date">{{task.date | date}}</span>
    </div>
  </div>
</div>
