<div class="todo">
  <h1>Mis tareas</h1>
  <div class="add row">
    <div class="col-8">
      <input class="form-control" #newItem id="addTask" placeholder="Agregar una tarea" 
        (keyup.enter)="todoService.add(newItem.value);newItem.value = ''"/>
    </div>
    <div class="col-4">
      <button class="btn btn-primary" (click)="todoService.add(newItem.value);newItem.value = ''">Add</button>
    </div>
  </div>
  
  <div class="task row" *ngFor="let task of todoService.tasks">
    <div class="col-1">
      <input class="form-control" type="checkbox" id="{{task.title}}" (click)="todoService.delete(task)">
    </div>
    <div class="col-8">{{task.title}}</div>
    <div class="col-3 date justify-content-end">{{task.date | date:'medium'}}</div>
  </div>
  
</div>
